.chat_container {
  margin: 50px auto;
  padding: 30px;
  width: 730px;
  height: 500px;
  background-color: rgba(255, 255, 255, 0.292);

  border-radius: 20px;
  box-shadow: rgba(72, 0, 58, 0.2) 0px 5px 29px 0px;
}

.chat-messages {
  width: 690px;
  height: 390px;
  margin: 0px auto;

  display: flex;
  flex-direction: column;
  align-items: flex-start;
  overflow-y: scroll;
  overflow-x: hidden;

  .right {
    flex-direction: row-reverse;
    order: 2;
    margin-left: auto;
    margin-right: 25px;

    .msg-avatar {
      margin-left: 10px;
    }

    h2 {
      margin-right: 10px;
    }
  }
}

.text-field {
  position: absolute;
  z-index: 1;
  top: 530px;
}

.msg-container {
  display: flex;
  padding: 5px;
  flex-wrap: nowrap;

  width: max-content;
  max-width: calc(100% - 50px);

  h2 {
    font-size: 18px;
    margin-left: 15px;
  }
}

.msg-title {
  display: flex;
  flex-direction: center;
  justify-content: space-between;
  font-weight: 600;
}

.msg-time {
  color: rgb(158, 158, 158);
  font-weight: 300;
  margin-left: 15px;
  font-size: 14px;
}

.msg-content {
  padding: 15px;
  padding-right: 25px;
  background-color: rgba(211, 198, 207, 0.343);
  display: flex;
  flex-direction: column;
  width: 100%;
  border-radius: 50px;
  margin-left: 10px;
}

.msg-avatar {
  margin-top: 5px;
  width: 50px;
  height: 50px;
  border-radius: 50px;
  z-index: 1;
}

.msg-text {
  padding: 5px 15px;
}

.text-input {
  height: 50px;
  width: 540px;
  border: 1px solid rgb(225, 225, 225);
  border-radius: 20px;
  padding-left: 20px;

  &:focus {
    background-color: white;
    outline: 1px solid rgba(116, 80, 121, 0.395);
  }
}

.send-btn {
  width: 90px;
  height: 50px;
  border-radius: 20px;
  border: none;
  margin-left: 10px;
  font-weight: 600;
  background-color: rgba(216, 146, 220, 0.285);

  &:hover {
    background-color: rgb(117, 0, 124);
    color: white;
  }
}

::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(233, 233, 233, 0.3);
  border-radius: 10px;

  background-color: #f5f5f5;
}

::-webkit-scrollbar {
  border-radius: 20px;

  width: 12px;
  background-color: #f5f5f5;
}

::-webkit-scrollbar-thumb {
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  background-color: #58005e1a;
}

.emoji-container {
  position: absolute;
  top: 540px;
  left: 820px;
  z-index: 2;
}

.emoji-btn {
  width: 30px;
  height: 30px;
}
