.chat_container {
  display: grid;
  grid-template-columns: 250px 550px;
  margin: 30px auto;
  width: 800px;
  height: 450px;

  border-radius: 20px;
  box-shadow: rgba(72, 0, 58, 0.2) 0px 5px 29px 0px;
}

.chats {
  height: 450px;
  border-right: 1px solid black;
  border-radius: inherit;
  background-color: rgb(93, 39, 93);
  align-self: flex-start;
}

.chat-field {
  margin: 15px;
  padding-bottom: px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  height: 350px;
  overflow-y: scroll;
}

.text-field {
  position: absolute;
  z-index: 1;
  top: 460px;
}

.msg-container {
  display: flex;
  padding: 10px 15px;
  margin: 10px 0;
  flex-wrap: nowrap;
  background-color: rgb(230, 222, 230);
  width: 300px;
  height: min-content;
  border-radius: 30px;

  h2 {
    font-size: 18px;
    margin-left: 15px;
  }

  &.right {
    margin-left: 180px;
    display: flex;
    flex-direction: row-reverse;

    .msg-content {
      align-items: flex-end;
    }

    .msg-title {
      margin-right: 15px;
    }
  }
}

.msg-title {
  display: flex;
  flex-direction: center;
  justify-content: space-between;

  font-weight: 600;
}

.msg-content {
  display: flex;
  flex-direction: column;
  width: 250px;
}

.msg-avatar {
  width: 50px;
  height: 50px;
  border-radius: 50px;
  z-index: 1;
}

.msg-text {
  margin: 5px 15px;
}

.text-input {
  height: 50px;
  width: 400px;
  border: 1px solid rgb(225, 225, 225);
  border-radius: 20px;
  padding-left: 20px;
}

.send-btn {
  width: 70px;
  height: 50px;
  border-radius: 20px;
  border: none;
  margin-left: 10px;

  &:hover {
    background-color: rgb(53, 0, 56);
    color: white;
  }
}
