@import '../../variables.scss';

.container {
  margin: 100px auto;
  height: 100px;
  width: 400px;
  border-radius: 20px;
  box-shadow: $boxShadow;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: nowrap;
  background-color: $backgroundColor;
}

.wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: nowrap;
}

.btn {
  display: flex;
  align-items: center;
  padding: 5px;
  margin-left: 15px;
  background: white;
  color: $fontColor;
  width: 120px;
  border-radius: $borderRadius;
  transition: all 0.2s ease-in-out;
}

.btn:hover {
  cursor: pointer;
  transform: scale(1.1);
}

.icon {
  margin-left: 5px;
  margin-right: 5px;
  vertical-align: middle;
  width: 35px;
  height: 35px;
}

.buttonText {
  display: inline-block;
  vertical-align: middle;

  font-size: 14px;
  font-weight: bold;
}
