.container {
  margin: 100px auto;
  height: 100px;
  width: 400px;
  border-radius: 20px;
  box-shadow: rgba(72, 0, 58, 0.2) 0px 5px 29px 0px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: nowrap;
}

.g-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: nowrap;
}

.g-btn {
  display: flex;
  align-items: center;
  padding: 5px;
  margin-left: 10px;
  background: white;
  color: #444;
  width: 120px;
  border-radius: 5px;
  border: thin solid #888;
  box-shadow: 1px 1px 1px grey;
}

.g-btn:hover {
  cursor: pointer;
  border: 1px solid purple;
}

.label {
  margin-right: 5px;
  font-family: 'Roboto';
  font-weight: normal;
}

.icon {
  margin-left: 5px;
  margin-right: 5px;
  vertical-align: middle;
  width: 35px;
  height: 35px;
}

.buttonText {
  display: inline-block;
  vertical-align: middle;

  font-size: 14px;
  font-weight: bold;

  font-family: 'Roboto', sans-serif;
}
