$mainFont: 'Roboto', sans-serif;
$fontColor: #1e1e1e;
$lightFontColor: #838383;

$backgroundColor: #ffffff70;
$accentColor: #7e1f86;
$darkViolet: #441149;
$purple: #9d79bc;
$blue: #8ca0d7;
$disableColor: #aa9db6;

$boxShadow: #48003a33 0px 5px 29px 0px;

$borderRadius: 20px;

:export {
  mainFont: $mainFont;

  backgroundColor: $backgroundColor;
  accentColor: $accentColor;
  purple: $purple;
  blue: $blue;
  fontColor: $fontColor;
  lightFontColor: $lightFontColor;
  disableColor: $disableColor;

  boxShadow: $boxShadow;
  borderRadius: $borderRadius;
}
